.cc-header {
  background: var(--colorNeutralBackground5);
  min-height: 2rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  user-select: none;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2rem;
}

.cc-navbar {
  background: var(--colorNeutralBackground5);
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 9.5rem;
  padding-right: 9.5rem;
  padding-top: 1rem;
}
.divider {
  max-width: 83vw;
  margin: auto;
  user-select: none;
}

.cc-button {
  border: none;
  color: var(--colorNeutralForeground1);
  background-color: var(--colorTransparentBackground);
  user-select: none;

  padding-bottom: 0.3rem;
  padding-top: 0.3rem;

  padding-left: 1rem;
  padding-right: 1rem;

  border-radius: 1rem;

  display: flex;
  align-items: center;
  gap: 6px;

  text-decoration: none;
}

.active {
  background-color: var(--colorNeutralBackground1Hover);
  border: none;
  color: var(--colorNeutralForeground1);
  user-select: none;

  padding-bottom: 0.3rem;
  padding-top: 0.3rem;

  padding-left: 1rem;
  padding-right: 1rem;

  border-radius: 1rem;

  display: flex;
  align-items: center;
  gap: 6px;

  text-decoration: none;
}

.cc-button:hover {
  cursor: pointer;
}

.cc-header-light {
  background: var(--colorNeutralBackground2Pressed);
  min-height: 1.25rem;
  display: flex;
  align-items: center;
}

.cc-main-left {
  display: flex;
  justify-content: left;

  .cc-logo {
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
  }

  .cc-title {
    padding-left: 0.5rem;
    vertical-align: middle;
    color: var(--colorNeutralForegroundInvertedLink);
    font-size: 14px;
    font-weight: 400;

    @media only screen and (max-width: 500px) {
      font-size: 8px;
    }

    @media only screen and (max-width: 320px) {
      display: none;
    }
  }

  .cc-divider {
    color: #4e4e4e;
    font-size: 20px;
    font-weight: 400;
    margin-left: 0.5rem;
  }
}
